@model IEnumerable<IdClaimsPractice3.Models.Machine>

@{
    ViewData["Title"] = "Index";
}

<style>

    body {
        background: linear-gradient(to right, #ffffff, #ffd6e7); /* White to Baby Pink gradient background */
        font-family: 'Arial', sans-serif;
    }

    form {
        margin-top: 20px;
        background-color: #fff; /* White background for the form */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #333; /* Dark text color */
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff; /* White background for the table */
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 15px;
            text-align: center;
        }

    /* Style checkboxes */
    input[type="checkbox"] {
        margin-top: 5px;
    }



    .create-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #00BFFF;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #00BFFF;
        border-radius: 5px;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create" class="create-button">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MachineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MachineId" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MachineId" class="btn btn-secondary"><i class="fas fa-eye"></i>Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MachineId" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
